langchain
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-postgres
langsmith
langgraph
python-dotenv
pypdf
fastapi
uvicorn[standard]
python-multipart
alembic
sqlalchemy
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic[email]
pydantic-settings
mailtrap
